{% extends "forms/base.html" %}
{% block content %}

    <div class="row">
        index.html is loaded here
    </div>
    <div class="row">
        <button class="btn btn-primary" data-toggle="modal" data-target="#firstModal">
            Open modal
        </button>
    </div>

    <div class="modal fade" id="firstModal" tabindex="-1" role="dialog" aria-labelledby="firstModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        {% include 'forms/test_modal.html' %}
      </div>
    </div>

{% endblock %}